body{
    font-family: 'Montserrat', 'Arial',  sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 38px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.order h2 {
    font-weight: bold;
font-size: 40px;
line-height: 57px;
text-align: center;
letter-spacing: 0.2px;

}
.order h4 {
    font-size: 24px;
line-height: 38px;
text-align: center;
letter-spacing: 0.2px;
}
.order-button {
    font-weight: bold;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.2px;
}